#root {
    max-width: 100%;
    background-color: rgb(238, 232, 222)
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: floralwhite;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}