table tr:hover {
    background-color: rgba(174, 194, 255, 0.5);
}

.drop-flex {
    display: flex;
    flex-direction: column;
}

.dnd-container-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.drop-title {
    color: rgb(153, 153, 153);
    font-size: x-small;
    font-weight: 600;
    text-align: left;
}

.game-option-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 25%;
}

.drop-flex-select {
    padding: 5px;
    font-size: smaller;
    border: solid transparent;
    border-right: 12px solid transparent;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    width: 100%;
}



left-justify {
    text-align: left;
}

.drop-flex-option {
    padding: 10px;
}

.search-list {
    text-align: left;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1), -2px 2px 3px rgba(0,0,0,0.1);
}

.prop-bet-div {
    text-align: left;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prop-bet-container {
    display: flex;
    flex-direction: column;
}

.game-container-flex {
    display: flex;
    width: 100%;
}

.draggable-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.small-headers {
    font-size: x-small;
}

.player-box-container {
    max-height: 600px;
    width: 100%;
    overflow: auto;
}

.text-left {
    text-align: left;
}

.table-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ultimate-div {
    margin-left: 10%;
    margin-right: 10%;
}


.home-container {
    max-width: 100%;
    margin-right: 10%;
    margin-left: 10%;
    overflow: auto;
    margin-top: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.drop-down {
    width: 100%;
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
}



.results-flex-item {
    width: 100%;
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
}

.input-box {
    border-radius: 5px;
    background-color: rgb(255,255,255);
    padding: 5px;
    font-size: smaller;
    width: 100%;
}

.drag-n-drop-container {
}

.over-under {
    font-size: xx-large;
    color: purple;
    font-weight: 800;
}

.results-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.over-under-flex {
    display: flex;
    user-select: none;
    background: rgb(0,0,20);
    max-width: 100%;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    color: rgb(200,100,150);
    font-size: medium;
    padding: 5px;
}

.neon-orange {
    color: rgb(255 156 0);
}

.x-button {
    border: none;
    color: white;
    background-color: black;
    border-radius: 3px;
    opacity: .9
}

.prop-results {
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.bold {
    font-weight: 500;
}

.prop-results-container {
    display: flex;
    justify-content: space-evenly;

}

.text-in-box {
    flex-grow: 1;
    text-align: center;
    color: whitesmoke;

}

.prop-bet-results-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 5px;
}

.white-space-no-wrap {
    white-space: nowrap;
}

.svg-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.shots-title-flex {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: small;
}

.copyright {
    color: white;
    text-align: center;
    font-size: medium;
}

.single-shot-chart-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo-nav-container {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.footer {
    background-image: linear-gradient(white, rgb(98,98,98));
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.group-name {
    min-width: 200px;
    font-weight: 400;
    font-size: small;
    font-family: Roboto Condensed, Arial, sans-serif;
    line-height: 1.25;
    font-stretch: condensed;
    border-top: solid 1px #ebe9e7;
}

.not-group-name {
    white-space: nowrap;
    font-size: small;
    font-weight: 400;
    font-family: Roboto Condensed, Arial, sans-serif;
    line-height: 1.25;
    font-stretch: condensed;
    border-top: solid 1px #ebe9e7;
    padding: 8px 6px;
}

.green {
    background-color: rgb(164, 251, 153);
}

.header-item {
    text-align: left;
    font-family: Roboto Condensed, Arial, sans-serif;
}

.prop-bet-placeholders {
    text-align: center;
    font-size: inherit;
    color: rgb(153, 153, 153, 0.50);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 3px;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
    @media screen and (min-width: 863px) {
        .prop-bet-placeholders {
            font-size: small;
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }
}

@media screen and (max-width: 862px) {
    .flex {
        flex-direction: column;
        margin-right: 20px;
    }

    .results-flex {
        flex-direction: column;
    }
    .prop-bet-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-flex-item {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1350px) {
    :root {
        --screen-size: 2;
    }
}

@media screen and (min-width: 1350px) {
    :root {
        --screen-size: 1;
    }
}